.App-Dropdown{
  position: relative;
  width:100%;
  margin-bottom: 25px;
}

.App-Dropdown .dropdown-main{
  color: #97a5a7;
  font-size: 35px;
  padding: 0px 29px;
  border-radius: 10px;
  border:1px solid #97a5a7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  box-sizing: border-box;
  cursor: pointer;
}


.App-Dropdown .dropdown-options{
  font-size: 25px;
  position: absolute;
  width: 100%;
  /* visibility: hidden; */
  display: none;
}


.App-Dropdown .dropdown-options.show {
  /* visibility: visible; */
  display: block;
}


.App-Dropdown .dropdown-options__content{
  background-color: rgba(255, 255, 255, 0.596);
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 10px 10px;
  margin:10px;
  padding:10px;
  margin-top:0px;
}

.App-Dropdown .dropdown-options span {
  padding:8px;
  cursor: pointer;
  color: #032228;
  border-radius: 10px;
}

.App-Dropdown .dropdown-options span.selected {
  color: white;
  background-color: #053a4563;
}


.App-Dropdown .dropdown-options span:hover{
  transition: all 0.3s;
  color: white;
  background-color: #053a4563;
}