.App-Input{
  outline: none;
  border: none;
  height: 90px;
  border-radius: 15px;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
  background-color: rgba(255,255,255,0.59);
  padding: 0px 25px;
  width: 100%;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-bottom: 25px;
  /* font-family: Breamcatcher, sans-serif; */
  font-size: 35px;
  color: #032228;
}
