.App-Input{
  outline: none;
  border: none;
  height: 90px;
  border-radius: 15px;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
  background-color: rgba(255,255,255,0.59);
  padding: 0px 25px;
  text-align: center;
  text-transform: uppercase;

  /* font-family: Breamcatcher, sans-serif; */
  font-size: 35px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #032228;
}
