.App-Home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 662px;
}


.App-name{
  color: #ff5155;
  font-size: 61px;
  margin-top:20px;
  font-family: 'lasercorpsgrad', sans-serif;
}

.App-tag{
  margin-bottom: 60px;
}