.App-Home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 622px;
}


.App-name{
  color: #ff5155;
  font-size: 81px;
  margin-top:20px;
}

.App-tag{
  margin-bottom: 60px;;
}