.App-Header{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #ff5155
}

.App-Header.minimized{
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  /* align-items: center; */
}

.App-Header.minimized .header__logo,
.App-Header.minimized .header__tag-line
{
  display: none;
}


.header__app-name{
  font-size: 97px;
}


.App-Header.minimized .header__app-name{
  font-size: 56px;
}


.header__app-name.pp{
  transition: all 0.3s;
  flex:0;
}


.header__user-data div{
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  font-size: 44px;
}

.header__user-data div img{
  margin-right: 22px;
}