.App-Icon-Button{
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 10px;;
  margin-top: 5px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 0px rgb(255, 0, 0);
  transition: all 0.3s;
  user-select: none;
}

.App-Icon-Button[disabled]:hover{
  box-shadow: none;
  transform: scale(1);
  cursor: default;
}

.App-Icon-Button img {
  /* margin-right: 20px; */
}

.App-Icon-Button span {
  margin-right: 20px;
  color: red;
}

.App-Icon-Button:hover{
  cursor: pointer;
  border: 1px solid red;
  box-shadow: 5px 5px 5px 0px rgb(255, 0, 0);
  transform: scale(1.01)
}


.App-Icon-Button:active{
  border: 1px solid white;
  box-shadow: 5px 5px 10px 0px rgb(255, 255, 255);
}

.App-Icon-Button:hover img{
  transition: all 0.3s;
  transform: scale(1.1);
}